*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    font-family: sans-serif;
}
.text-box{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.button-wrap{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover{
    box-shadow: 0 0 15px 1px black;
}
.cl1{
    background-color:#4E86F7;
}
.cl2{
    background-color:#D6FD52;
}
.cl3{
    background-color:#EB5650;
}
.cl4{
    background-color: #224BF3;
}
.cl5{
    background-color: #74FB7B;
}
.cl6{
    background-color: #8C48AF
}